

<div class="account-pages mt-5 mb-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-pattern">

                  <div class="card-body p-4">
                      
                      <div class="text-center w-75 m-auto">
                          <a href="index.html">
                              <span><img src="assets/images/logo-dark.png" alt="" height="22"></span>
                          </a>
                          
                      </div>

                      <form (ngSubmit)="onSubmit()">

                          <div class="form-group mb-3">
                            <label for="emailaddress">Full Name</label>
                            <input class="form-control" type="email" required placeholder="Enter your full name" [formControl]="fullName">
                          </div>
                          <div class="form-group mb-3">
                              <label for="emailaddress">Email address</label>
                              <input class="form-control" type="email" required placeholder="Enter your email" [formControl]="email">
                          </div>

                          <div class="form-group mb-3">
                              <label for="password">Password</label>
                              <input class="form-control" type="password" required placeholder="Enter your password" [formControl]="password">
                          </div>
                          <div class="form-group mb-3">
                            <label for="password">Confirm Password</label>
                            <input class="form-control" type="password" required placeholder="Enter your password" [formControl]="confirmPassword">
                          </div>

                          <div class="form-group mb-0 text-center">
                              <button class="btn btn-primary btn-block" type="submit"> Sign Up </button>
                          </div>

                      </form>
                      <div class="row mt-3">
                          <div class="col-12 text-center">
                              <p class="text-black-50">Go back to <a routerLink="/" class="text-red ml-1"><b>Login</b></a></p>
                          </div> <!-- end col -->
                      </div>
                  </div> <!-- end card-body -->
              </div>
              <!-- end card -->

              
              <!-- end row -->

          </div> <!-- end col -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->


